

<div  class="col-lg-6 col-sm-12 " style="padding-right:0; padding-left:0;">


	<div  class="col-lg-12 col-sm-12">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Drone </div>
			<div class="panel-body">
				<div class="panel-body" style="  height:100%; " >
					<table width="100%">
						<tr>
							<td>
								Name:<b> {{drones.collection[droneIndex].vehicle_details.name}}</b> &nbsp; &nbsp;
								Type:<b> {{drones.collection[droneIndex].vehicle_details.vehicle_type}}</b>
							</td>
							<td>
								<button type="button" class="btn btn-primary" ng-if="drones.collection[droneIndex].vehicle_details.vehicle_type=='real'" ng-click="disconnectDelete()">Disconnect from Drone</button>
								<button type="button" class="btn btn-primary" ng-if="drones.collection[droneIndex].vehicle_details.vehicle_type=='simulated'" ng-click='disconnectDelete()'>Delete Drone</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div  class="col-lg-12 col-sm-12">
	 	<div style="padding-top: 70%; position:relative;">
			<div class="panel panel-default panel-primary" style="position: absolute; top: 0;    left: 0;    bottom: 0;    right: 0;">
				<div class="panel-heading">Map</div>
				<div class="panel-body" style="  height:100%; " >
					<ng-map style=" display:block; height:85%; " zoom="15" options="{mapTypeId:'satellite'}"></ng-map>
				</div>
			</div>
		</div>
	</div>
	<div  class="col-lg-12 col-sm-12">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Actions </div>
			<div class="panel-body">
				<div class="panel-group" id="accordion">
				  <div ng-repeat="action in actions.availableActions" class="panel panel-default">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" data-target="{{'#'+action.name}}">{{action.name}}</a>
					  </h4>
					</div>
					<div id="{{action.name}}" class="panel-collapse collapse"}">
					  <div class="panel-body">
						<p>{{action.title}}</p>
						<div class="container-fluid">
							<div class="row form-inline" ng-repeat="attribute in action.attributes" >
								<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="usr">{{attribute.name}}:</label>
								<input type="text" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-control" name="attribute.name" ng-model="attribute.value" />
							</div>
							<button ng-if="action.href" type="button" class="btn btn-primary" ng-click='actionButton(action)'>{{action.name}}</button>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div  class="col-lg-6 col-sm-12 " style="padding-right:0; padding-left:0;">

	<div  class="col-lg-6 col-sm-6">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading ">Battery </div>
			<div class="panel-body">
				<canvas id="line" class="chart chart-line" chart-data="batteryCurrent.data"
					chart-labels="batteryCurrent.labels" chart-series="batteryCurrent.series" chart-options="batteryCurrent.options"
					chart-dataset-override="batteryCurrent.datasetOverride" chart-click="batteryCurrent.onClick">
				</canvas>
			</div>
		</div>
	</div>

	<div  class="col-lg-6 col-sm-6">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Altitude and Velocity </div>
			<div class="panel-body">
				<canvas id="line" class="chart chart-line" chart-data="altVel.data"
					chart-labels="altVel.labels" chart-series="altVel.series" chart-options="altVel.options"
					chart-dataset-override="altVel.datasetOverride" chart-click="altVel.onClick">
				</canvas>
			</div>
		</div>
	</div>

	<div  class="col-lg-12 col-sm-12">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Telemetry Stats</div>
			<div class="panel-body">

				<table class="table table-striped">
					<tr>
						<th style="width:25%">Status
						</th>
						<td  style="width:25%" ng-style="drones.collection[droneIndex].vehicle_status.armed_colour">{{drones.collection[droneIndex].vehicle_status.armed_status}}
						</td>
						<th  style="width:25%">Mode
						</th>
						<td  style="width:25%">{{drones.collection[droneIndex].vehicle_status.mode}}
						</td>
					</tr>
					<tr>
						<th>Groundspeed
						</th>
						<td>{{drones.collection[droneIndex].vehicle_status.groundspeed | number : 0}} km/h
						</td>
						<th>Airspeed
						</th>
						<td>{{drones.collection[droneIndex].vehicle_status.airspeed | number : 0}} km/h
						</td>
					</tr>
					<tr>
						<th>Height (rel home)</th>
						<td>{{drones.collection[droneIndex].vehicle_status.global_relative_frame.alt | number : 2}}</td>
						<th>Altitude (msl)</th>
						<td>{{drones.collection[droneIndex].vehicle_status.global_frame.alt | number : 2}}</td>
					</tr>
					<tr>
						<th>Latitude</th>
						<td>{{drones.collection[droneIndex].vehicle_status.global_frame.lat | number : 4}}</td>
						<th>Longitude</th>
						<td>{{drones.collection[droneIndex].vehicle_status.global_frame.lon | number : 4}}</td>
					</tr>
					<tr>
						<th>Heading</th>
						<td>{{drones.collection[droneIndex].vehicle_status.heading | number : 0}} &deg;</td>
						<th>Distance (home)</th>
						<td>{{drones.collection[droneIndex].vehicle_status.distance_home | number : 0}} m</td>
					</tr>
					<tr>
						<th>Roll</th>
						<td>{{drones.collection[droneIndex].vehicle_status.attitude.roll*57.2958 | number : 0}} &deg;</td>
						<th>Pitch</th>
						<td>{{drones.collection[droneIndex].vehicle_status.attitude.pitch*57.2958 | number : 0}} &deg;</td>
					</tr>
					<tr>
						<th>Satellites visible</th>
						<td>{{drones.collection[droneIndex].vehicle_status.gps_0.satellites_visible | number : 0}}</td>
						<th>Satellite fix type</th>
						<td>{{drones.collection[droneIndex].vehicle_status.gps_0.fix_type | number : 0}} &deg;</td>
					</tr>
					<tr>
						<th>Heartbeat</th>
						<td ng-style="drones.collection[droneIndex].vehicle_status.heartbeat_colour">{{drones.collection[droneIndex].vehicle_status.heartbeat_status}}</td>
						<th>EKF</th>
						<td ng-style="drones.collection[droneIndex].vehicle_status.ekf_colour">{{drones.collection[droneIndex].vehicle_status.ekf_status}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>



	<div  class="col-lg-12 col-sm-12">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Mission Details </div>
			<div class="panel-body">
				<button type="button" class="btn btn-primary" ng-click='getMission()'>Download Mission</button>
				<p>
				<table class="table table-striped">

					<tr  ng-repeat="missionAction in mission.items" >
						<td >{{missionAction.textDescription}}</td>
					</tr>
				</table>
				<p ng-if="mission.items.length==0">No Mission Actions</p>
			</p>
			</div>
		</div>
	</div>
	<div  class="col-lg-12 col-sm-12">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Action log </div>
			<div class="panel-body">
				<table class="table table-striped">

					<tr  ng-repeat="actionItem in actionLog.items" >

						<th ><span ng-style="actionItem.status === 'Error' ? { color:'red' } : { color:'black' }">{{actionItem.name}}</span></th>
						<td >{{actionItem.textDescription}}</td>
					</tr>
				</table>
			</p>
			</div>
		</div>
	</div>

	<div  class="col-lg-12 col-sm-12">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">Simulator Environment parameters </div>
			<div class="panel-body">
				<label for="sel1">Select sim parameter value:</label>
				<table>
					<tr>
						<td>
						    <select class="form-control" name="simParamSelect" id="simParamSelect" ng-model="simParamSelected">
						      <option ng-repeat="(key, value) in simEnvironment" value="{{key}}">{{key}}</option>
						    </select>
						</td>
						<td>
						    <input type="text" class=" form-control" ng-model="simParamValue" />
						</td>
						<td>
							<button type="button" ng-if="simParamSelected!=''" class="btn btn-primary"  ng-click='simParamUpdateButton()'>Update</button>
						</td>
					</tr>
				</table>
			</p>
			</div>
		</div>
	</div>

<div>local frame:{{-drones.collection[droneIndex].vehicle_status.local_frame.down | number : 2}} : global frame:{{-drones.collection[droneIndex].vehicle_status.global_relative_frame.alt | number : 2}}</div>


</div>
