




<div  class="col-lg-12 col-sm-12">		
	<div class="panel panel-default panel-primary">
		<div class="panel-heading">Drone inventory</div>
		<div class="panel-body">
	 
				<table class="table table-striped">
					<tr>
						<th>id</th>
						<th>Status</th>
						<th>Mode</th>
						<th>Distance (home)</th>
						<th>Heading</th>
						<th>Groundspeed</un>
						<th>Heartbeat</th>
						<th>Lat</th>
						<th>Lon</th>
						<th>Alt</th>
					</tr>
					<tr ng-click="selectIndividual(drone)" ng-repeat="drone in droneDetails" >
						<td >{{drone.id}}</td>
						<td >{{drone.armed_status}}</td>
						<td >{{drone.mode}}</td>
						<td >{{drone.distance_home| number : 0}}m</td>
						<td >{{drone.heading| number : 0}}&deg;</td>
						<td >{{drone.groundspeed| number : 0}} km/h</td>
						<td >{{drone.heartbeat_status}}</td>
						<td >{{drone.global_frame.lat| number : 4}}</td>
						<td >{{drone.global_frame.lon| number : 4}}</td>
						<td >{{-drone.local_frame.down| number : 0}}</td>
					</tr>
				</table>

		</div>
	</div>
</div>

<div  class="col-lg-12 col-sm-12">		
	<div class="panel panel-default panel-primary" >
		<div class="panel-heading">Map</div>
		<div class="panel-body"  >
			<ng-map style="height: 600px;" zoom="17" options="{mapTypeId:'satellite'}"></ng-map>
		</div>
	</div>
</div> 









