




	<div  class="col-lg-12 col-sm-12">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">User Profile</div>
			<div class="panel-body">
                <div ng-if="loggedInUser.name">
                    <p>Welcome <b>{{loggedInUser.name}}</b> to the Drone Control Console.</p>
                    <p>From this console you can:
                    <ul>
                    <li>View your inventory of any real or simulated drones you have created by clicking on the <i>Inventory</i> menu.</li>
                    <li>Create a new simulated drone or connect to a real drone by clicking on the <i>New Drone</i> menu.</li>
                    <li>View the performance of the server components and the network topology of the service by clicking on the <i>Performance</i> and <i>Network</i> menu items.</li>
                    </ul>
                    <br /><br />
                    <p>Your profile details are in the table below. </p>
                    <table class="table table-striped">
                        <tr>
                            <td>Name</td>
                            <th>{{loggedInUser.name}}</th>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <th>{{loggedInUser.email}}</th>
                        </tr>
                        <tr>
                            <td>APIKey</td>
                            <th>{{loggedInUser.api_key}}</th>
                        </tr>
                    </table>
                </div>
                <div ng-if="!loggedInUser.name">
                    <p>Welcome to the Drone Control Console.</p>
                    <p>To access the console, you need to login with Facebook by clicking the button below.</p>
                </div>
				<facebook-login-button></facebook-login-button>

			</div>
		</div>
	</div>



