
<div class="row marketing">

  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>
  <p> Groundspeed is {{vehicleStatus.groundspeed}}</p>
  <p> Battery is voltage:{{vehicleStatus.battery.voltage}} current:{{vehicleStatus.battery.current}} level:{{vehicleStatus.battery.level}}</p>
  <p> Global location is lat:{{vehicleStatus.global_frame.lat}} lon:{{vehicleStatus.global_frame.lon}} 
  
  <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBwE-65p4Ql09I_jlpVZEBH2bJoguhOOE&callback=initMap">
    </script>
  
</div>
